<style>
    form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }
</style>

<h1>Registracija</h1>
<form action="/users" method="post">

    <input type="text" name="email" placeholder="E-mail" required=""></br>
    <input type="text" name="username" placeholder="Username" required=""></br>
    <input type="password" name="password" placeholder="Password" required=""></br>
    <input type="password" name="retype_password" placeholder="Retype Password" required=""></br>
    <input type="hidden" name="isAdmin" value="false">

    <input type="text" name="firstName" placeholder="First Name" required=""><br>
    <input type="text" name="lastName" placeholder="Last Name" required=""><br>

    <input type="text" name="tel" placeholder="Phone Number" required=""><br>
    <input type="text" name="street" placeholder="Street" required=""><br>
    <input type="number" name="postcode" placeholder="Postcode" required=""><br>
    <input type="text" name="post" placeholder="Post" required=""><br>

    <input type="text" name="email" placeholder="E-mail" required=""><br>
    <input type="text" name="username" placeholder="Username" required=""><br>
    <input type="password" name="password" placeholder="Password" required=""><br>
    <input type="password" name="retype_password" placeholder="Retype Password" required=""><br>

    <input type="submit" value="Register">
</form>