.history-container {
    padding: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    width: 90%;
}

.success {
    color: green;
}

.failure {
    color: red;
}

.histories-caption {
    padding: 10px;
    margin-left: 20px;
}

.open-info {
    margin-top: -10px;
}