.div-HOME {
     display: flex;
     justify-content: center;
     align-items: center;
     height: 800px; /* Prilagodite želeni višini */
     width: 100%;
}

.centered-image {
     max-width: 100%;
     max-height: 100%;
     width: 100%;
}

.rounded-map {
    border-radius: 10px;
}