.heading {
    font-size: 24px;
    color: #333;
    text-align: left;
    margin-left: 30px;
    margin-top: 30px;
    margin-bottom: 40px;
}

.mailbox-container-admin {
    padding: 10px;
    margin-bottom: 10px;
    margin-top: 30px;
    border: 1px solid #BBADA3;
    border-radius: 5px;
    width: 97%;
}

.mailbox-table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}

.mailbox-table th,
.mailbox-table td {
    padding: 8px;
    text-align: center;
}

.mailbox-table th {
    font-weight: bold;
    text-align: center;
    box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.2);
}

.mailbox-table td .mailbox-box {
    display: flex;
    align-items: center;
    justify-content: center;
}

.mailbox-table td .mailbox-box .mailbox-image {
    margin-right: 10px;
}

.mailbox-image {
    background-image: url('../pictures/location.png');
    background-size: cover;
    background-position: center;
    width: 18px;
    height: 18px;
    margin-top: 2px;
}

.mailbox-box {
    display: flex;
}

.mailbox-link {
    display: inline-block;
    padding: 8px 16px;
    background-color: #4B82AA;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}

.mailbox-link:hover {
    color: #fff;
}

.delete-button {
    background-image: url('../pictures/delete.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 20px; /* Prilagodite višino glede na velikost slike */
    width: 20px; /* Prilagodite širino glede na velikost slike */
    border: none;
    outline: none;
    cursor: pointer;
}

.mailbox-table td {
    text-align: center;
}

.centered-add {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 2%;
    height: 5vh; /* Prilagodite glede na želeno višino centriranega območja */
}

/* add button */
.mailbox-add {
    background-image: url('../pictures/add.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: inline-block;
    height: 30px; /* Prilagodite višino glede na velikost slike */
    width: 30px; /* Prilagodite širino glede na velikost slike */

    /*
    background-color: #4B82AA;
    color: white;
    padding: 8px 16px;
    font-weight: bold;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s;
    margin-left: 45%;

     */
}


.mailbox-container {
    padding: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    border: 1px solid #BBADA3;
    border-radius: 8px;
    width: 40%;
}

.mailbox-name {
    font-size: 18px;
    font-weight: bold;
}

.mailbox-info {
    margin-bottom: 5px;
}