.user-profile {
    text-align: center;
}

.profile-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 20px;
}

.profile-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    padding: 10px;
}

.profile-info div {
    padding: 10px;
    width: 40%;
}

.label {
    font-weight: bold;
    float: left;
}

.value {
    margin-left: 10px;
    float: left;
}

.edit-profile {
    text-align: center;
}
